
$white: #ffffff;
$off-white: rgba(255, 255, 255, 0.8);
$gallery: #F0F0F0;
$off-gallery: #EBEBEB;
$black: #000000;
$blue: #0C63E7;
$light-black: #252525;
$lighter-black: #282828;
$light-gray: rgba(70, 70, 70, 0.89);
$dark-gray: rgba(50, 58, 58, 0.7);
$gray: #8896AB;
$lighter-gray: #e0e0e0;
$dark-green: #1A232C;
$green: #31fc00;
$red: #fc0000;
$blue-gradient: linear-gradient(101.34deg, #0C63E7 14.12%, #01A4FF 100.36%);
$black-gradient: radial-gradient(67.21% 225.72% at 25.69% 31.39%, #283440 0%, #252331 100%);
$transparent: transparent;
$trans: all .4s ease-in-out;


*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.img{
  filter: invert(24%) sepia(82%) saturate(4560%) hue-rotate(212deg) brightness(98%) contrast(91%);
}

html, body, #root, .App{
  height: 100%;
}

.body{
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  color: black;
}


.mainContainer{
  display: flex;
  height: 100%;
  width: 100%;


/*  Left Side*/
  .menu{
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: hidden;
    .titleSessions{
      color: $blue;
      font-size: 32px;
      text-align: center;
    }
    .clear{
      border: none;
      height: 50px;
      width: 50px;
      font-size: 20px;
      background: transparent;
      color: $white;
      padding: 10px;
      text-align: center;
      margin-top: 10px;
      .img{
        position: relative;
        top: 3px;
        width: 30px !important;
        height: 30px !important;
      }
      .img:hover{
        transform: scale(130%)
      }
    }

    .panel{
      width: 100%;
      height: 80%;
      overflow-y: auto;
      box-shadow: rgb(73, 73, 73) 0px 0px 10px -12px inset, rgb(105, 105, 105) 0px 2px 36px -18px inset;

      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-track{
        border-radius: 10px;
        background: $gray;
      }
      &::-webkit-scrollbar-thumb{
        background: $blue;
      }
      &::-webkit-scrollbar-thumb:hover{
        background: $blue;
      }

      .session{
        padding: 20px 10px 20px 10px;
        min-height: 70px;
        text-align: left;
        display: flex;
      }
      .session:hover{
        color: $white;
        background: $blue-gradient;
      }
      .activeSession{
        color: $white;
        background: $blue-gradient;
      }
    }
  }

//  Right Side
  .view{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .agentResponse{
      width: 100%;
      height: 90%;
      max-height: 800px;
      box-shadow: rgb(73, 73, 73) 0px 0px 10px -12px inset, rgb(105, 105, 105) 0px 2px 36px -18px inset;
      overflow-y: auto;
      overflow-x: auto;

      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-track{
        border-radius: 10px;
        background: $light-gray;
      }
      &::-webkit-scrollbar-thumb{
        background: $blue;
      }
      &::-webkit-scrollbar-thumb:hover{
        background: $blue;
      }
    }
    .introText{
      font-weight: 500;
      padding-left: 10%;
      div{
        color: $blue;
      }
      p{
        color: $red;
      }
    }
    h4{
      color: $black;
      font-size: 21px;
    }
    .agentTitle{
      width: 100%;
      font-size: 24px;
      text-align: center;
      color: $blue;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .output2{
      height: 600px;
    }
    .agentOutput{
      white-space: pre-wrap;
      padding: 10px;
      height: 90%;
      width: 100%;
      overflow-y: auto;
      overflow-x: auto;

      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-track{
        border-radius: 10px;
        background: $light-gray;
      }
      &::-webkit-scrollbar-thumb{
        background: $blue;
      }
      &::-webkit-scrollbar-thumb:hover{
        background: $blue-gradient;
      }

      & .diff { font-family: monospace; white-space: pre; }
      & .diff-header { font-weight: bold; }
      & .diff-index { font-weight: bold; }
      & .diff-file-left { font-weight: bold; display: flex; text-align: start; justify-content: start; }
      & .diff-file-right { font-weight: bold; display: flex; text-align: end; justify-content: end;}
      & .diff-hunk { color: #36f; }
      & .diff-added { color: #2e8b57; display: flex; text-align: start; justify-content: start; }
      & .diff-removed { color: #a52a2a; display: flex; text-align: end; justify-content: end;}
    }
  //  SearchBar
    .promptContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100%;

      input{
        min-width: 700px;
        width: 100%;
      }
      input[type="text"]{
        min-width: 600px;
        height: 40px;
        border: 1px solid $blue;
        background: transparent;
        color: $black;
        border-bottom-left-radius: 999px;
        border-top-left-radius: 999px;
        padding: 0 10px;
        font-size: 18px;
        border-right: none !important;
      }
      ::placeholder{
        color: $black;
      }
      .searchImage{
        min-width: 50px;
        height: 40px;
        border: 1px solid $blue;
        background: transparent;
        color: $white;
        border-bottom-right-radius: 999px;
        border-top-right-radius: 999px;
        padding: 0 10px;
        font-size: 18px;
        border-left: none !important;

        & .img{
          position: relative;
          top: 3px;
          width: 30px !important;
          height: 30px !important;
        }
      }
      .diagramImage{
        min-width: 50px;
        height: 40px;
        border: 1px solid $blue;
        background: transparent;
        color: $white;
        padding: 0 10px;
        font-size: 18px;
        border-left: none !important;
        border-right: none !important;

        .img{
          position: relative;
          top: 3px;
          width: 30px !important;
          height: 30px !important;
        }
        #image{
          display: none;
        }
      }
      .diagramImage:hover{
        background: $blue;
      }
      button:hover{
        background: $blue-gradient;
      }
      .repoSettingsButton{
        position: relative;
        background: $transparent;
        border: none;
        right: 20px;
        .img{
          position: relative;
          top: 3px;
          width: 40px !important;
          height: 40px !important;
        }
      }
    }
  }
  .tabPanels{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    .title{
      padding: 10px 0;
      font-size: 20px;
      color: $blue;
      text-align: center;
    }
    .title:hover{
      color:white;
      background: $blue;
    }
    .progress{
      border-radius: 4p 1x;
      width: 100%;
      .progress-bar{
        height: 18px;
        background: $blue;
        width: 100%;
        animation: progressAnimation 20s;
        animation-iteration-count: infinite;
      }
      .progress-bar-complete{
        height: 18px;
        background: $green;
      }
      .fail{
        height: 18px;
        background: $red;
      }
    }

  }
}
@keyframes progressAnimation{
  from {width: 0}
  to {width: 100%}
}
.repoSettingsPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 9999;
}

.repoContent {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  width: 500px;
  height: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  button{
    background: $blue-gradient;
    color: $white;
    position: relative;
    width: auto;
    padding: 10px;
    margin-top: 20px;
    border: none;
  }
  button:hover{
    background: $black-gradient;
    color: $white;
  }
  div{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  input[type="text"]{
    min-width: 400px;
    height: 40px;
    border: 1px solid $blue;
    background: transparent;
    color: $black;
    border-radius: 999px;
    padding: 0 10px;
    font-size: 18px;
    border-right: none !important;
  }
}