@import "index";

.wrapper {
    height: 10%;
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin crater($top, $left, $size) {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    width: $size;
    height: $size;
    background-color: #EFEEDA;
    border-radius: 100%;
    border: 4px solid #DEE1C5;
}

@mixin cloudBubble($top, $right, $width, $height, $deg) {
    content: '';
    display: block;
    position: relative;
    top: $top;
    right: $right;
    width: $width;
    height: $height;
    border: 8px solid #D4D4D2;
    border-radius: 100%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ($deg);
    background-color: #fff;
}

/////////////////////////////////////////////////
// Day State
/////////////////////////////////////////////////
.toggle {
    position: relative;
    display: inline-block;
    width: 100px;
    padding: 4px;
    border-radius: 40px;
}

.toggle:before,
.toggle:after {
    content: '';
    display: table;
}

.toggle:after {
    clear: both;
}

.toggle-bg {
    position: absolute;
    top: -2px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #C0E6F6;
    border-radius: 40px;
    border: 4px solid #81C0D5;
    transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-radius: 40px;
    z-index: 2;
    opacity: 0;
}

.toggle-switch {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 50px;
    background-color: #F5EB42;
    border: 4px solid #E4C74D;
    border-radius: 50%;
    transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-switch-figure {
    position: absolute;
    bottom: -14px;
    left: -50px;
    display: block;
    width: 80px;
    height: 30px;
    border: 8px solid #D4D4D2;
    border-radius: 20px;
    background-color: #fff;
    transform: scale(0.4);
    transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    &:after {
        @include cloudBubble(-65px, -42px, 15px, 15px, 70deg);
    }
    &:before {
        @include cloudBubble(-25px, -10px, 30px, 30px, 30deg);
    }
}

.toggle-switch-figureAlt {
    @include crater(5px, 2px, 2px);

    box-shadow:
            42px -7px 0 -3px #FCFCFC,
            75px -10px 0 -3px #FCFCFC,
            54px 4px 0 -4px #FCFCFC,
            83px 7px 0 -2px #FCFCFC,
            63px 18px 0 -4px #FCFCFC,
            44px 28px 0 -2px #FCFCFC,
            78px 23px 0 -3px #FCFCFC;

    transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transform: scale(0);
}

.toggle-switch-figureAlt:before {
    @include crater(-6px, 18px, 7px);
}

.toggle-switch-figureAlt:after {
    @include crater(19px, 15px, 2px);
}

/////////////////////////////////////////////////
// Night State
/////////////////////////////////////////////////
.toggle-input:checked ~ .toggle-switch {
    margin-left: 0;
    border-color: #DEE1C5;
    background-color: #FFFDF2;
}

.toggle-input:checked ~ .toggle-bg {
    background-color: #484848;
    border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
    margin-left: 40px;
    opacity: 0;
    transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
    transform: scale(1);
}


//Dark Mode
.darkMode{
    .review-content{
        color: white;
    }
    background: $light-black;
    .mainContainer{
        color: white;
    }
    .mainContainer{
        /*  Left Side*/
        .menu{
            background: $cafeMenuText;
            overflow-y: hidden;
            .titleSessions{
                color: $white;
            }
            .clear{
                background: transparent;
                color: $white;

                .img{
                }
                .img:hover{
                    transform: scale(130%)
                }
            }

            .panel{
                .panelContainer{

                    .session{
                        color: $white;
                    }
                    .session:hover{
                        color: $white;
                        background: $blue-gradient;
                    }
                    .activeSession{
                        color: $white;
                        background: $blue-gradient;
                    }
                }
            }
        }

        //  Right Side
        .view{
            .agentResponse{
                background: $black-gradient;
                color: $white;
                &::-webkit-scrollbar{
                    width: 4px;
                }
                &::-webkit-scrollbar-track{
                    border-radius: 10px;
                    background: $light-gray;
                }
                &::-webkit-scrollbar-thumb{
                    background: $blue;
                }
                &::-webkit-scrollbar-thumb:hover{
                    background: $blue;
                }
            }
            .introText{
                div{
                    color: $blue;
                }
                p{
                    color: $red;
                }
            }
            h4{
                color: $black;
            }
            .agentTitle{
                color: $white;
            }
            .agentTitleTask{
                color: $white;
            }
            .output2{
            }
            .agentOutput{
                background: $cafeMenuText;
                & .diff { font-family: monospace; white-space: pre; }
                & .diff-header { font-weight: bold; }
                & .diff-index { font-weight: bold; }
                & .diff-file-left { font-weight: bold; display: flex; text-align: start; justify-content: start; }
                & .diff-file-right { font-weight: bold; display: flex; text-align: end; justify-content: end;}
                & .diff-hunk { color: #36f; }
                & .diff-added { color: #2e8b57; display: flex; text-align: start; justify-content: start; }
                & .diff-removed { color: #a52a2a; display: flex; text-align: end; justify-content: end;}
            }
            //  SearchBar
            .promptContainer{
                input{
                }
                input[type="text"]{
                    border: 1px solid $blue;
                    background: transparent;
                    color: $white;
                }
                ::placeholder{
                    color: $white;
                }
                .searchImage{
                    border: 1px solid $blue;
                    background: transparent;
                    color: $white;

                    & .img{
                    }
                }
                .diagramImage{
                    border: 1px solid $blue;
                    background: transparent;
                    color: $white;
                    .img{
                    }
                    #image{

                    }
                }
                .diagramImage:hover{
                    background: $blue;
                }
                button:hover{
                    background: $blue-gradient;
                }
                .repoSettingsButton{
                    background: $transparent;
                    .img{
                    }
                }
            }
        }
        .tabPanels{
            .title{
                color: $white !important;
            }
            .title:hover{
                color:white;
                background: $blue !important;
            }
            .progress{
                .progress-bar{
                    background: $blue;
                }
                .progress-bar-complete{
                    background: $green;
                }
                .fail{
                }
            }

        }
    }
    .repoSettingsPopup {

        background-color: $black;

    }

    .repoContent {

        background-color: $white;
        color: $black;

        button{
            background: $blue-gradient;
            color: $white;
        }
        button:hover{
            background: $black-gradient;
            color: $white;
        }
        div{

        }
        input[type="text"]{
            border: 1px solid $blue;
            background: transparent;
            color: $white;
        }
    }
}