
$white: #ffffff;
$off-white: rgba(255, 255, 255, 0.8);
$gallery: #F0F0F0;
$off-gallery: #EBEBEB;
$black: #000000;
$cafeBlue: #0064E0;
$cafeMenuText: #1C2B33;
$blue: #0C63E7;
$blueProgress: #10bcd3;
$light-black: #252525;
$lighter-black: #282828;
$light-gray: rgba(70, 70, 70, 0.89);
$dark-gray: rgba(50, 58, 58, 0.7);
$gray: #8896AB;
$lighter-gray: #e0e0e0;
$dark-green: #1A232C;
$green: #9eff8a;
$red: #fc0000;
$sidebar: #F1F4F7;
$blue-gradient: linear-gradient(101.34deg, #0C63E7 14.12%, #01A4FF 100.36%);
$black-gradient: radial-gradient(67.21% 225.72% at 25.69% 31.39%, #283440 0%, #252331 100%);
$transparent: transparent;
$trans: all .4s ease-in-out;


*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.review-content{
  height: 700px;
  overflow-y: auto;
  width: 100%;
  white-space: pre-wrap;
}

.img,.img2{
  filter: invert(24%) sepia(82%) saturate(4560%) hue-rotate(212deg) brightness(98%) contrast(91%);
}

html, body, #root, .App{
  height: 100%;
}

div, h1, h2, h3, h4, p, a, button, input[type="text"]{
  font-family: "Open Sans", sans-serif !important;
}
h1{
  font-size: 32px !important;
}
h2{
  font-size: 30px !important;
}
h3{
  font-size: 28px !important;
}
h4{
  font-size: 26px !important;
}
div, p{
  font-size: 18px;
}

.dataTabs{
  width: 100% !important;
  display: grid !important;
  grid-template-columns: 1fr !important;
  .title{
    padding: 10px 0;
    font-size: 20px;
    color: $cafeMenuText;
    text-align: center;
  }
  .title:hover{
    color:white;
    background: $cafeMenuText;
  }
  .progress-bar{
    background: $blueProgress;
    animation: progressAnimation 20s;
    animation-iteration-count: infinite;
  }
  .progress-bar-complete{
    background: $green;
  }
  .fail{
    background: $red;
  }

}

.contentTabs{
  width: 100% !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  .title{
    padding: 10px 0;
    font-size: 20px;
    color: $cafeMenuText;
    text-align: center;
  }
  .title:hover{
    color:white;
    background: $cafeMenuText;
  }
  .progress-bar{
    background: $blueProgress;
    animation: progressAnimation 20s;
    animation-iteration-count: infinite;
  }
  .progress-bar-complete{
    background: $green;
  }
  .fail{
    background: $red;
  }

}
#editorC{
  width: 100%;
}
.contentmenu{
  background: $sidebar;
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: hidden;
  border-left: 1px solid #DEE3E9;
  .titleSessions{
    margin-top: 40px;
    padding-bottom: 30px;
    color: $cafeMenuText;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid $cafeMenuText;
  }
  .clear{
    border: none;
    height: 50px;
    width: 50px;
    font-size: 20px;
    background: transparent;
    color: $white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    .img{
      margin-bottom: 20px;
      position: relative;
      top: 13px;
      width: 30px !important;
      height: 30px !important;
    }
    .img:hover{
      transform: scale(130%)
    }
  }

  .panel{
    height: 90%;
    width: 100%;
    .panelContainer{
      width: 100%;
      height: 90%;
      overflow-y: auto;

      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-track{
        border-radius: 10px;
        background: $gray;
      }
      &::-webkit-scrollbar-thumb{
        background: $blue;
      }
      &::-webkit-scrollbar-thumb:hover{
        background: $blue;
      }

      .session{
        background: transparent;
        border: none;
        padding: 20px 10px 20px 10px;
        min-height: 70px;
        text-align: left;
        display: flex;
        border-bottom: 1px dotted $cafeMenuText;
      }
      .session:disabled{
        background: transparent;
        border: none;
      }
      .session:hover{
        background: $cafeMenuText;
        color: $white;
      }
      .activeSession{
        background: $cafeMenuText;
        color: $white;
      }
    }
  }
}


.body{
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.windowContainer{
  display: flex;
  height: 100%;
  width: 100%;
}

.mainContainer{
  display: flex;
  height: 100%;
  width: 100%;


/*  right Side*/
  .menu{
    background: $sidebar;
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: hidden;
    border-left: 1px solid #DEE3E9;
    .titleSessions{
      margin-top: 40px;
      margin-bottom: 30px;
      font-weight: 700;
      color: $cafeMenuText;
      font-size: 22px;
      text-align: center;
    }
    .clear{
      border: none;
      height: 50px;
      width: 50px;
      font-size: 20px;
      background: transparent;
      color: $white;
      padding: 10px;
      text-align: center;
      margin-top: 10px;
      .img{
        margin-bottom: 20px;
        position: relative;
        top: 13px;
        width: 30px !important;
        height: 30px !important;
      }
      .img:hover{
        transform: scale(130%)
      }
    }

    .panel{
      border-top: 1px solid black;
      height: 90%;
      width: 100%;
      .panelContainer{
        width: 100%;
        height: 90%;
        overflow-y: auto;

        &::-webkit-scrollbar{
          width: 4px;
        }
        &::-webkit-scrollbar-track{
          border-radius: 10px;
          background: $gray;
        }
        &::-webkit-scrollbar-thumb{
          background: $blue;
        }
        &::-webkit-scrollbar-thumb:hover{
          background: $blue;
        }

        .session{
          padding: 20px 10px 20px 10px;
          min-height: 70px;
          text-align: left;
          display: flex;
          border-bottom: 1px dotted $cafeMenuText;
        }
        .session:hover{
          background: $cafeMenuText;
          color: $white;
        }
        .activeSession{
          background: $cafeMenuText;
          color: $white;
        }
      }
    }
  }

//  Right Side
  .view{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .tabPanels{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      .title{
        padding: 10px 0;
        font-size: 20px;
        color: $cafeMenuText;
        text-align: center;
      }
      .title:hover{
        color:white;
        background: $cafeMenuText;
      }
      .progress-bar{
        background: $blueProgress;
        animation: progressAnimation 20s;
        animation-iteration-count: infinite;
      }
      .progress-bar-complete{
        background: $green;
      }
      .fail{
        background: $red;
      }

    }
    .agentResponse{
      width: 100%;
      height: 90%;
      max-height: 800px;
      overflow-y: auto;
      overflow-x: auto;

      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-track{
        border-radius: 10px;
        background: $light-gray;
      }
      &::-webkit-scrollbar-thumb{
        background: $blue;
      }
      &::-webkit-scrollbar-thumb:hover{
        background: $blue;
      }
    }
    .introText{
      font-weight: 500;
      padding-left: 10%;
      div{
        color: $blue;
      }
      p{
        color: $red;
      }
    }
    h4{
      color: $black;
      font-size: 21px;
    }
    .agentTitle{
      width: 100%;
      font-size: 24px;
      text-align: center;
      color: $cafeMenuText;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .output2{
      margin-left: 5%;
      width: 90% !important;
      margin-bottom: 20px ;

      .fileName{
        margin-top: 5px;
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
      }
      .fileCode{
        height: 400px !important;
        overflow-y: auto;
        &::-webkit-scrollbar{
          width: 4px;
        }
        &::-webkit-scrollbar-track{
          border-radius: 10px;
          background: $light-gray;
        }
        &::-webkit-scrollbar-thumb{
          background: $blue;
        }
        &::-webkit-scrollbar-thumb:hover{
          background: $blue-gradient;
        }
      }

    }
    .agentOutput{
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      white-space: pre-wrap;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      height: 90%;
      width: 100%;
      overflow-y: auto;
      overflow-x: auto;

      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-track{
        border-radius: 10px;
        background: $light-gray;
      }
      &::-webkit-scrollbar-thumb{
        background: $blue;
      }
      &::-webkit-scrollbar-thumb:hover{
        background: $blue-gradient;
      }

      & .diff { font-family: monospace; white-space: pre; }
      & .diff-header { font-weight: bold; }
      & .diff-index { font-weight: bold; }
      & .diff-file-left { font-weight: bold; display: flex; text-align: start; justify-content: start; }
      & .diff-file-right { font-weight: bold; display: flex; text-align: end; justify-content: end;}
      & .diff-hunk { color: #36f; }
      & .diff-added { color: #2e8b57; display: flex; text-align: start; justify-content: start; }
      & .diff-removed { color: #a52a2a; display: flex; text-align: end; justify-content: end;}
    }
  //  SearchBar
    .promptContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100%;

      input{
        min-width: 700px;
        width: 100%;
      }
      input[type="text"]{
        min-width: 600px;
        height: 40px;
        border: 1px solid $blue;
        background: transparent;
        color: $black;
        border-bottom-left-radius: 999px;
        border-top-left-radius: 999px;
        padding: 0 10px;
        font-size: 18px;
        border-right: none !important;
      }
      ::placeholder{
        color: $black;
      }
      .searchImage{
        min-width: 50px;
        height: 40px;
        border: 1px solid $blue;
        background: transparent;
        color: $white;
        border-bottom-right-radius: 999px;
        border-top-right-radius: 999px;
        padding: 0 10px;
        font-size: 18px;
        border-left: none !important;

        & .img{
          position: relative;
          width: 30px !important;
          height: 30px !important;
        }
      }
      .diagramImage{
        min-width: 50px;
        height: 40px;
        border: 1px solid $blue;
        background: transparent;
        color: $white;
        padding: 0 10px;
        font-size: 18px;
        border-left: none !important;
        border-right: none !important;
        .img2{
          position: relative;
          width: 30px !important;
          height: 30px !important;
        }

        .img{
          position: relative;
          top: 5px;
          width: 30px !important;
          height: 30px !important;
        }
        #image{
          display: none;
        }
      }
      .diagramImage:hover{
        background: $blue;
      }
      button:hover{
        background: $blue-gradient;
      }
      .repoSettingsButton{
        position: relative;
        background: $transparent;
        border: none;
        right: 20px;
        .img{
          position: relative;
          top: 3px;
          width: 40px !important;
          height: 40px !important;
        }
      }
    }
  }
}
@keyframes progressAnimation{
  from {width: 0; color:#10bcd3;}
  to {width: 100%; color:#10bcd3;}
}
.repoSettingsPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 9999;
}

.repoContent {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  width: 500px;
  height: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  button{
    background: $blue-gradient;
    color: $white;
    position: relative;
    width: auto;
    padding: 10px;
    margin-top: 20px;
    border: none;
  }
  button:hover{
    background: $black-gradient;
    color: $white;
  }
  div{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  input[type="text"]{
    min-width: 400px;
    height: 40px;
    border: 1px solid $blue;
    background: transparent;
    color: $black;
    border-radius: 999px;
    padding: 0 10px;
    font-size: 18px;
    border-right: none !important;
  }
}

.sideBar{
  background: $sidebar;
  min-width: 24%;
  max-width: 24%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: hidden;
  border-right: 1px solid #DEE3E9;
  .modelText{
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
  .mainTitle{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    img{
      width: 60px;
      height: 60px;
    }
    h1{
      position: relative;
      right: 10px;
      font-weight: 900 !important;
      color: $cafeMenuText;
    }
  }
  .navContainer{
    height: 57%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 20px;
    overflow-y: auto;

    .linkContainer{
      padding-top: 10px;
      padding-bottom: 10px;
      .link{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        color: $cafeBlue;
        text-align: center;
        a{
          color: $cafeBlue;
          text-decoration: none;
        }
      }
      .link:hover{
        cursor: pointer;
        color: white;
        background: $cafeBlue;
        a{
          cursor: pointer;
          color: white;
          background: $cafeBlue;
        }
      }
      .disabled{
        color: gray !important;
      }
      .disabled:hover{
        cursor: not-allowed;
        background: none;
        color: gray !important;
      }
    }
  }
  .subTitle{
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
  }

  .modelContainer{
    display: flex;
    justify-content: center;
    bottom: 0;
    position: relative;
  }
}