:root {
    --white: #ffffff;
    --off-white: rgba(255, 255, 255, 0.8);
    --gallery: #F0F0F0;
    --off-gallery: #EBEBEB;
    --black: #000000;
    --blue: #0C63E7;
    --light-black: #252525;
    --light-gray: rgba(70, 70, 70, 0.89);
    --dark-gray: rgba(50, 58, 58, 0.7);
    --gray: #8896AB;
    --dark-green: #1A232C;
    --green: #31fc00;
    --red: #fc0000;
    --blue-gradient: linear-gradient(101.34deg, #0C63E7 14.12%, #01A4FF 100.36%);
    --black-gradient: radial-gradient(67.21% 225.72% at 25.69% 31.39%, #283440 0%, #252331 100%);
    --transparent: transparent;
    --trans: all .4s ease-in-out;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    background: var(--white);

    display: grid;
    grid-template-columns: 1fr 4fr;
}

div, p, h4, h3, h2, h1, button, input[type="text"], input[type="text"]::placeholder{
    font-family: Amplitude,Arial,Halvetica,sans-serif;
    color: var(--black);
    font-weight: 500 !important;
}

.menuContainer{
    background: var(--off-white);
    position: absolute;
    width: 20%;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    & .menuHero{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .menuSessions{
        width: 100%;
        height: 70%;
        overflow-y: auto;
        background: var(--white);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        & h3{
            color: var(--blue) !important;
            font-weight: 700;
            position: relative;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
        & .session{
            height: 100px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        & .session:hover{
            background: var(--blue-gradient) !important;
            color: var(--white)
        }
        & .activeSession{
            height: 100px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: var(--blue-gradient) !important;
            color: var(--white)
        }
        &::-webkit-scrollbar{
            width: 4px;
        }
        &::-webkit-scrollbar-track{
            border-radius: 10px;
            background: var(--light-gray);
        }
        &::-webkit-scrollbar-thumb{
            background: var(--blue);
        }
        &::-webkit-scrollbar-thumb:hover{
            background: var(--blue-gradient);
        }
    }
    & .menuSettings{
        position: relative;
        margin-top: 10px;
        width: 70%;
        margin-left: 20%;
        & .setting{
            display: flex;
            position: relative;
            align-items: center;
            width: 100%;
            height: 40px;
            margin: auto;
            & img{
                left: 0;
                margin-right: 20px;
                position: relative;
                width: 30px;
                height: 30px;
            }
        }
        & .setting:hover{
            transform: scale(110%);
        }
    }
}

.mainContainer{
    position: absolute;
    margin-left: 20%;
    width: 80%;
    top: 0;
    bottom: 0;
    & .steps{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 60px;
        & .step{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & .step{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & .hideStep{
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white) !important;
        }
        & .step:hover{
            background: var(--blue-gradient) !important;
            color: var(--white) !important;
        }
        & #1:hover, & #2:hover, & #3:hover, & #4:hover , & #5:hover, & #6:hover, & #7:hover & #final:hover{
            background: var(--blue-gradient) !important;
            color: var(--white) !important;
        }
    }
    & .progress{

    }
    & .blocks{
        display: grid;
        width: 100%;
        height: 82%;
        overflow-y: auto;
        background: var(--off-white);
        grid-template-columns: 1fr;
        direction:ltr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-track{
            border-radius: 10px;
            background: var(--blue);
        }
        &::-webkit-scrollbar-thumb{
            background: var(--light-black);
        }
        &::-webkit-scrollbar-thumb:hover{
            background: var(--light-gray);
        }
        & .response{
            & .title{
                color: var(--blue) !important;
                font-weight: 600 !important;
                text-align: center;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            & .answer{
                height: 400px;
                white-space: pre-wrap !important;
                overflow-y: auto;
                margin-right: 20px;
                margin-left: 20px;
                &::-webkit-scrollbar{
                    width: 8px;
                }
                &::-webkit-scrollbar-track{
                    border-radius: 10px;
                    background: var(--gray);
                }
                &::-webkit-scrollbar-thumb{
                    background: var(--blue);
                }
                &::-webkit-scrollbar-thumb:hover{
                    background: var(--white);
                }
            }
            & .agentAnswer{
                white-space: pre-wrap !important;
                overflow-y: auto;
                margin-right: 20px;
                margin-left: 20px;
            }
        }

    }
    & .promptContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        & input[type="text"]{
            min-width: 600px;
            height: 40px;
            border: 1px solid var(--blue);
            background: transparent;
            color: var(--black);
            border-bottom-left-radius: 999px;
            border-top-left-radius: 999px;
            padding: 0 10px;
            font-size: 18px;
            border-right: none !important;
        }
        & .diagramImage{
            min-width: 50px;
            height: 40px;
            border: 1px solid var(--blue);
            background: transparent;
            color: var(--white);
            padding: 0 10px;
            font-size: 18px;
            border-left: none !important;
            border-right: none !important;

            & img{
                position: relative;
                top: 3px;
                width: 30px !important;
                height: 30px !important;
            }
            & #image{
                display: none;
            }
        }
        & .diagramImage:hover{
            background: var(--blue-gradient);
        }
        & .searchImage{
            min-width: 50px;
            height: 40px;
            border: 1px solid var(--blue);
            background: transparent;
            color: var(--white);
            border-bottom-right-radius: 999px;
            border-top-right-radius: 999px;
            padding: 0 10px;
            font-size: 18px;
            border-left: none !important;

            & img{
                position: relative;
                top: 3px;
                width: 30px !important;
                height: 30px !important;
            }
        }
        & button:hover{
            background: var(--blue-gradient);
        }
        & .gitRepo{
            position: relative;
            width: 40px;
            height: 40px;
        }
        & .gitRepo{
            right: 30px;
            position: relative;
            width: 40px;
            height: 40px;
        }
        & .gitRepo:hover{
            transform: scale(110%);
        }
    }
}

/*POP UP*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    background-color: var(--white);
    color: var(--red) !important;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*REPO Settings*/
.repoSettingsPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 9999;
}

.repoContent {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--black);
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    & h3{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    & input[type="text"]{
        min-width: 400px;
        height: 40px;
        border: 1px solid var(--blue);
        background: transparent;
        color: var(--black);
        border-radius: 999px;
        padding: 0 10px;
        font-size: 18px;
        border-right: none !important;
    }
    & button{
        background: var(--blue-gradient);
        color: var(--white);
        position: relative;
        width: auto;
        padding: 10px;
        margin-top: 20px;
        border: none;
    }
    & button:hover{
        background: var(--black-gradient);
        color: var(--white);
    }
}

.container {
    width: 100%;
    text-align: center;
}

.progress {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 18px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar {
    background-color: var(--blue);
    width: 100%;
    background-image: linear-gradient(
            45deg, var(--blue) 25%,
            transparent 25%, transparent 50%,
            var(--blue) 50%, var(--blue) 75%,
            transparent 75%, transparent);
    animation: progressAnimationStrike 20s;
    animation-iteration-count: infinite;
}

@keyframes progressAnimationStrike {
    from { width: 0 }
    to   { width: 100% }
}

.progress-bar2 {
    height: 18px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar2 {
    background-color: var(--green);
    width: 100%;
    background-image: linear-gradient(
            45deg, var(--green) 25%,
            transparent 25%, transparent 50%,
            var(--green) 50%, var(--green) 75%,
            transparent 75%, transparent);
}

.progress-bar3 {
    height: 18px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar3 {
    background-color: var(--red);
    width: 100%;
    background-image: linear-gradient(
            45deg, var(--red) 25%,
            transparent 25%, transparent 50%,
            var(--red) 50%, var(--red) 75%,
            transparent 75%, transparent);
}